body{
    background-color: #f5f5f5;
}
.nav-link{
    color: white;
}

.nav-item{
    position: relative;
    overflow: hidden;
}

.nav-item::after{
    content: '';
    color: white;
    width: 60%;
    height: 3px;
    transition: all 0.5;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: -100%;
}

.nav-item:hover::after{
    left: 10%;
}

.nav-item:hover{
    color: white;
}

#home{
    background-image: url(../img/intro-bg\ \(1\).jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#home h1{
    font-size: 80px;
}

.about-title h5{
    font-size: 32px;
}
.about-title{
    position: relative;
}

.about-title::after{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}

.service-title h3{
    font-size: 3rem;
    position: relative;
}

.service-title::after{
    content: '';
    height: 5px;
    width: 5%;
    position: absolute;
    left: 47.5%;
    background-color: #0077ff;
}
.icon-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 1.55;
    box-shadow: 0 0 0 10px #0077ff;
    transition:all 0.5s ;
    -webkit-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
    -ms-transition:all 0.5s ;
    -o-transition:all 0.5s ;
}

.icon-circle i{
    font-size: 4rem;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.service-box:hover .icon-circle{
    box-shadow: 0 0 0 10px #cde1f8;
    background-color: #0078ff;
}

.service-box:hover i{
    color: white;
}

.s-title{
    color: #1e1e1e;
    font-size: 1.4rem;
}

